<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
        <div class="footer">
            <div class="about-listbox clearfix">
                <div class="about-list box">
                    <div>
                        <p class=""><img src="../../icon/btom1.png" alt="">买家服务</p>
                        <ul>
                            <li><a href="../daohang/gwzn.html">购物指南</a></li>
                            <li><a href="../daohang/pssm.html">配送服务</a></li>
                            <li><a href="../daohang/zffw.html">支付服务</a></li>
                            <li><a href="../daohang/mjcjwt.html">常见问题</a></li>
                        </ul>
                    </div>
                    <div>
                        <p class=""><img src="../../icon/btom2.png" alt="">商家服务</p>
                        <ul>
                            <li><a href="../daohang/sjzz.html">商家资质</a></li>
                            <li><a href="../daohang/rzzn.html">入驻指南</a></li>
                            <li><a href="../daohang/sjsz.html">商家守则</a></li>
                            <li><a href="../daohang/cjwt.html">常见问题</a></li>
                        </ul>
                    </div>
                    <div>
                        <p class=""><img src="../../icon/btom3.png" alt="">战略合作</p>
                        <ul>
                            <li><a href="../daohang/sjrz.html">商家入驻</a></li>
                            <li><a href="../daohang/hzhb.html">合作伙伴</a></li>
                            <li><a href="../daohang/wdjm.html">网点加盟</a></li>
                        </ul>
                    </div>
                    <div>
                        <p class=""><img src="../../icon/btom4.png" alt="">快捷查询</p>
                        <ul>
                            <li><a href="../daohang/cxhd.html">促销活动</a></li>
                            <li><a href="../daohang/qygsq.html">企业购申请</a></li>
                            <li><a href="../daohang/xyfsq.html">信用付申请</a></li>
                        </ul>
                    </div>
                    <div>
                        <p class=""><img src="../../icon/btom5.png" alt="">关于我们</p>
                        <ul>
                            <li><a href="../daohang/gsjj.html">公司简介</a></li>
                            <li><a href="../daohang/lxwm.html">联系我们</a></li>
                            <li><a href="../daohang/jrwm.html">加入我们</a></li>
                            <li><a href="../daohang/ystl.html">隐私条例</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy">版权所有&copy;<a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备17003666号</a></div>
        </div>
</body>
</html>