<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header-top4</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
<!--头部-->
<div style="background: #F5F5F5; width:100%;">
    <div class="other_header ng-scope" style="width:960px;height:90px;margin:0 auto;padding:10px 0px; background: #F5F5F5;">
        <div class="logo_picture" style="width:288px;height:58px;float:left;">
            <a href="../index/home.html" ng-click="foward()"><img src="../../images/new_homelogo.png"></a>
        </div>
        <a href="index.html#/" ng-click="foward()"></a>
        <div class="back_index" style="float:right;height:100%;line-height:58px;text-align: center;color:#4DA0F3">
            <a href="index.html#/" ng-click="foward()"></a><a href="../index/home.html" style="color:#4DA0F3">返回首页</a>
        </div>
    </div>
</div>
</body>
</html>