{:widget('base/breadcrumbs',[
[
['href'=>url('Role/index'),'text'=>'主播列表'],
['href'=>'','text'=>$text]
]
])}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主播名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name ="nick_name" value="{$re['nick_name']?$re['nick_name']:''}"  id="nick_name" style="width: 50%" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name ="anchor_name" value="{$re['anchor_name']?$re['anchor_name']:''}"  id="anchor_name" style="width: 50%" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name ="anchor_phone" value="{$re['anchor_phone']?$re['anchor_phone']:''}"  id="anchor_phone" style="width: 50%" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="card" class="input-text" value="{$re['card']?$re['card']:''}"  id="card" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主播描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="anchor_desc" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$re.anchor_desc}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>资质名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name ="zi_title" value="{$re['zi_title']?$re['zi_title']:''}"  id="zi_title" style="width: 50%" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主播资质：</label>
            <label  id="image_show1" style="margin-left: 10px;">宽高：750px，360px；大小：不超过1M</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="droparea spot" id="logo_img" style="background-image: url('{$re.user_img?$re.user_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">主播头像</div>
                    <div id="logo"></div>
                    <input type="hidden" name="user_img" id="logo_url" value="{$re['user_img']?$re['user_img']:''}" />
                </div>
                <div class="droparea spot" id="image2" style="background-image: url('{$re.user_img2?$re.user_img2:''}');background-size: 220px 160px;" >
                    <div class="instructions">主播资质</div>
                    <div id="uparea2"></div>
                    <input type="hidden" name="user_img2" id="image_2" value="{$re['user_img2']?$re['user_img']:''}" />
                </div>
                <div class="droparea spot" id="image3" style="background-image: url('{$re.user_img3?$re.user_img3:''}');background-size: 220px 160px;" >
                    <div class="instructions">主播资质</div>
                    <div id="uparea3"></div>
                    <input type="hidden" name="user_img3" id="image_3" value="{$re['user_img3']?$re['user_img3']:''}" />
                </div>
                <div class="droparea spot" id="image4" style="background-image: url('{$re.user_img4?$re.user_img4:''}');background-size: 220px 160px;" >
                    <div class="instructions">主播资质</div>
                    <div id="uparea4"></div>
                    <input type="hidden" name="user_img4" id="image_4" value="{$re['user_img4']?$re['user_img4']:''}" />
                </div>
                <div class="droparea spot" id="image5" style="background-image: url('{$re.user_img5?$re.user_img5:''}');background-size: 220px 160px;" >
                    <div class="instructions">主播资质</div>
                    <div id="uparea5"></div>
                    <input type="hidden" name="user_img5" id="image_5" value="{$re['user_img5']?$re['user_img5']:''}" />
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="submit btn btn-primary radius"  type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <!--<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>-->
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                <input type="hidden" class="input-text" value="{$re.anchor_id?$re.anchor_id:''}" placeholder=""  name="anchor_id">
            </div>
        </div>
    </form>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(document).ready(function(){
        var  content ;
        KindEditor.ready(function(K) {
            content = K.create('#content',{
                allowFileManager : true,
                uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
            });
        });

        KindEditor.ready(function(K) {
            K.create();
            var editor = K.editor({
                allowFileManager : true,
                uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
                //sdl:false
            });
            K('#logo').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#logo_img').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#logo').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#logo_url').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea1').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_1').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image1').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_1').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea2').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_2').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image2').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_2').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea3').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_3').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image3').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_3').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea4').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_4').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image4').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_4').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea5').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_5').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image5').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_5').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
            K('#uparea6').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_6').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image6').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_6').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea7').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_7').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image7').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_7').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea8').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_8').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image8').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_8').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

        });

        $(".submit").click(function(){
            commonAjaxSubmit('','form');
            return false;
        });

        $("#uparea1").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_1').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_1').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea1").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea2").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_2').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_2').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea2").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea3").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_3').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_3').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea3").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea4").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_2').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_4').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea4").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea5").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_5').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_5').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea5").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea6").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_6').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_6').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea6").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea7").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_7').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_7').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea7").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea8").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_8').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_8').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea8").mouseout(function(){
            $("#big").hide();
        });

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
    function area_linke1(value){
        $.post("{:url('Merchants/get_area')}", {value:value,type:1}, function(v){
            $("#shi").html(v);
        });
    }
    function area_linke2(value) {
        $.post("{:url('Merchants/get_area')}", {value: value, type: 2}, function (v) {
            $("#qu").html(v);
        });
    }



</script>
<!--/请在上方写此页面业务相关的脚本--><!--/请在上方写此页面业务相关的脚本-->