<div class="wrapper">
	<div class="pb60">
		<!-- 个人资料 -->
		<div class="back_fff">
			<div class="h75 box_between pl15 pr15">
		    <div class="box_start">
	        <div class="w50 h50 mr10">
	          <img class="br50" src="app/images/user_header.png" alt="">
	        </div>
	        <div>
	            <div class="box_center">
                <div class="f12">小小的愿望</div>
	            </div>
	        </div>
		    </div>
		    <div class="box_center f12 col_999" onClick="contactToggle(1)">
		        <div>编辑</div>
		        <div class="right_icon w22 h24"></div>
		    </div>
			</div>
		</div>
		<div class="back_fff h90 box_between f12 mt10">
			<div class="grid_cell box_center">
				<a href="" class="box_center">
					<div>
						<div class="box_center">
							<div class="w28 h28 stay_payment_icon"></div>
						</div>
						<div>待付款</div>
					</div>
				</a>
			</div>
			<div class="grid_cell box_center">
				<a href="" class="box_center">
					<div>
						<div class="box_center">
							<div class="w28 h28 stay_delivery_icon"></div>
						</div>
						<div>待发货</div>
					</div>
				</a>
			</div>
			<div class="grid_cell box_center">
				<a href="" class="box_center">
					<div>
						<div class="box_center">
							<div class="w28 h28 stay_Goods_receipt_icon"></div>
						</div>
						<div>待收货</div>
					</div>
				</a>
			</div>
			<div class="grid_cell box_center">
				<a href="" class="box_center">
					<div>
						<div class="box_center">
							<div class="w28 h28 complete_icon"></div>
						</div>
						<div>已完成</div>
					</div>
				</a>
			</div>
			<div class="grid_cell box_center">
				<a href="" class="box_center">
					<div>
						<div class="box_center">
							<div class="w28 h28 refund_icon"></div>
						</div>
						<div>退款售后</div>
					</div>
				</a>
			</div>
		</div>
		<div>
			<a href="my_address.html" class="box_between back_fff h44 mt10 pl10 pr10 bor_b">
				<div class="box_start">
					<div class="w24 h24 my_address_icon"></div>
					<div class="f12 ml10">我的地址</div>
				</div>
				<div class="box_end">
					<div class="right_icon w22 h24"></div>
				</div>
			</a>
		</div>
	</div>
	<!-- footer -->
	<div ng-include="'app/views/template/footer.html'"></div>
</div>