{:widget('Base/breadcrumbs',[
[
['href'=>url('Live/apply_list'),'text'=>'审核列表'],
]
])}
<div class="page-container">
	<div class="text-l">
		<form class="search"  method="get">
		<input type="text" class="input-text" style="width:250px" placeholder="搜索主播" value="{$_GET['username']?$_GET['username']:''}" name="username">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</form>
	</div>
	<div class="cl pd-6 bg-1 bk-gray mt-20">
		<!--<span class="l">-->
			<!--<a href="{:url('Apply/add_apply')}"  class="btn btn-primary radius">-->
				<!--<i class="Hui-iconfont">&#xe600;</i> 添加申请-->
			<!--</a>-->

		<!--</span>-->
		<span class="r">当前申请总数：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<!--<th width="25"><input type="checkbox" name="" value=""></th>-->
				<th width="30">序号</th>
				<th width="80">商家名称</th>
				<th width="80">主播姓名</th>
				<th width="80">场控数</th>
				<th width="80">直播分类</th>
				<th width="80">直播专场</th>
				<th width="80">标题</th>
				<th width="90">封面</th>
				<th width="60">商品数</th>
				<th width="60">大屏需求</th>
				<th width="150">直播时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{volist name="list" id="vo"}
			<tr class="text-c">
				<!--<td><input type="checkbox" value="{$vo.apply_id}" name="checkbox"></td>-->
				<td>{$vo.apply_id}</td>
				<td>{$vo.company_name}</td>
				<td>{$vo.anchor_name}</td>
				<td>{$vo.control_num}</td>
				<td>
					{switch name=$vo['status'] }
					{case value="1" }展销{/case}
					{case value="2" }售卖{/case}
					{case value="3" }拍卖{/case}
					{/switch}
				</td>
				<td>
					{switch name=$vo['zhuan_type'] }
					{case value="1" }是{/case}
					{case value="2" }否{/case}
					{/switch}
				</td>
				<td>{$vo.title}</td>
				<td><img src="{$vo.cover_img}" style="width:50px; height:50px; border-radius:25px;"></td>
				<td>{$vo.goods_id_num}</td>
				<td>
					{$vo.screen_class}
				</td>
				<td>
					{$vo.start_time|date="Y-m-d H:i:s",###} - {$vo.end_time|date="Y-m-d H:i:s",###}
				</td>
				<td>
					{switch name=$vo['is_shenhe'] }
					{case value="1" }未审核{/case}
					{case value="2" }审核通过{/case}
					{case value="3" }拒绝{/case}
					{/switch}
				</td>
				<td class="td-manage">
					<a title="编辑" href="{:url('Live/edit_apply',['apply_id'=>$vo['apply_id']])}"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				</td>
			</tr>
		{/volist}
		</tbody>
	</table>
	</div>
	<div style="text-align:center">
            <span>
                 {$list->render()}
            </span>
	</div>
</div>
<script type="text/javascript">
	function getChecked() {
		var gids = new Array();
		$.each($('input[name="checkbox"]:checked'), function(i, n){
			gids.push( $(n).val() );
		});
		return gids;
	}
	function datadel(kid){
		kid = kid ? kid : getChecked();
		kid = kid.toString();
		console.log(kid);
		if(kid == ''){
			layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
			return false;
		}
		layer.confirm('确认要删除吗？',function(index){
			$.post("{:url('Apply/del_member')}", {ids:kid}, function(data){
				if( data.status == 'ok' ){
					layer.msg(data.info,{icon:1,time:1000});
					window.location.href = data.url;
				}else{
					layer.msg(data.info,{icon:1,time:1000});
				}
			},'json');
		})
	}
	/*用户-添加*/
	function member_add(title,url,w,h){
		layer_show(title,url,w,h);
	}
	/*用户-查看*/
	function member_show(title,url,w,h){
		layer_show(title,url,w,h);
	}
	/*用户-停用*/
	function member_stop(obj,id){
		layer.confirm('确认要停用吗？',function(index){
			$.post("{:url('Apply/change_stop_status')}",{id:id},function(data){
				if(data.info == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
					$(obj).remove();
					layer.msg('已停用!',{icon: 5,time:1000});
				}
			},'json')
		});
	}

	/*用户-启用*/
	function member_start(obj,id){
		layer.confirm('确认要启用吗？',function(index){
			$.post("{:url('Apply/change_stop_status')}",{id:id},function(data){
				if(data.info == 2){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,'+id+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!',{icon: 6,time:1000});
				}
			},'json');

		});
	}
	/*用户-编辑*/
	function member_edit(title,url,id,w,h){
		layer_show(title,url,w,h);
	}
    function become_Anchor(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
	/*密码-修改*/
	function change_password(title,url,id,w,h){
		layer_show(title,url,w,h);
	}
	/*用户-删除*/
	function del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.post("{:url('Apply/del_Member')}", {ids:id}, function(data){
				if( data.status == 'ok' ){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}else{
					layer.msg(data.info,{icon:5,time:1000});
				}
			},'json');
		});
	}

	/*用户-删除*/
    function changeType(id,obj){
        layer.confirm('确认要改变状态，变成导师吗？',function(index){
            $.post("{:url('Member/change_type')}", {ids:id}, function(data){
                if( data.status == 'ok' ){
                    $(obj).parents("tr").remove();
                    layer.msg('已变更为导师!',{icon:1,time:1000});
                }else{
                    layer.msg(data.info,{icon:5,time:1000});
                }
            },'json');
        });
    }
   function shengji(id,v) {
       layer.msg('选择升级的角色类型', {
           time: 0 ,//不自动关闭
           shadeClose:false
           , btn: ['主播', '商家','关闭']
           , yes: function (index) {
               layer.close(index);
               var url = '/admin/member/become_anchor/member_id/'+id;
               become_Anchor(v+'升级为主播',url,'4','500','300');
           },
           btn2:function(index){
               var url = '/admin/member/add_merchants/member_id/'+id;
               become_Anchor(v+'升级为商家',url,'4','800','700');
               layer.close(index);
		   },
           btn3:function(index){
               layer.close(index);
           }
       });
   }
    /*图片-发布*/
    function change_review(obj,id){
        layer.confirm('确认要操作吗？',function(index){
            $.post("{:url('Live/change_review')}",{id:id},function(data){
                console.log(data);
                if(data.data==2){
                    $(obj).parents("td").html('<u><a href="javascript:;;" onClick="change_review(this,'+id+')"><span class="label label-success radius">已审核</span></a></u>');
                    layer.msg('操作成功!',{icon: 6,time:1000});
                }else if(data.data == 0){
                    $(obj).parents("td").html('<u><a href="javascript:;;" onClick="change_review(this,'+id+')"><span class="label label-defaunt radius">未审核</span></a></u>');
                    layer.msg('操作成功!',{icon: 6,time:1000});
                }
            },'json')
        });
    }
</script>